body {
    background-color: #F2F2F2;
}
.app-header {
    background-color: hsl(133, 33%, 60%);
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 100%;
}
.app-section {
    margin: 20px 0;
}
.form-group input{
    margin: auto;
    width: 60%;
}
.app-section p {
    margin-bottom: 1rem;
}
.login-form {
    max-width: 300px;
    margin: 0 auto;
}
.search-bar{
    margin: auto;
    width: 60%;
}